.arrow {
  pointer-events: none;
  z-index: 2;
}
.arrow__path {
  stroke: blue;
  fill: transparent;
  stroke-width: 2;
}

.h4-width {
  width: 90%;
}

.progress {
  padding: 4rem 9rem 18rem 7rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.step {
  width: 375px;
  height: 440px;
}
.step:nth-child(odd) {
  align-self: flex-start;
}
.step:nth-child(odd) .step__numeric-image {
  top: 35rem;
  left: -8rem;
  width: 10vw;
  z-index: 1;
}
.step:nth-child(odd) .step__dot {
  right: -10px;
}
.step:nth-child(even) {
  align-self: flex-end;
}
.step:nth-child(even) .step__numeric-image {
  top: 33rem;
  left: 32rem;
  width: 10vw;
  z-index: 1;
}
.step:nth-child(even) .step__dot {
  left: -10px;
}
.step.step--1 {
  transform: translate(150px, 30px);
}
.img-one {
  width: 6vw !important;
}
.step.step--2 {
  transform: translate(-80px);
  margin-bottom: 10px;
}
.step.step--3 {
  transform: translate(33px, 30px);
}
.step.step--4 {
  transform: translate(-110px);
  margin-bottom: 140px;
}
.step.step--5 {
  transform: translate(110px);
}
.step.step--6 {
  margin-bottom: 65px;
}
.step.step--7 {
  transform: translate(200px);
  margin-bottom: 40px;
}
.step.step--8 {
  transform: translate(-109px);
  margin-bottom: 15rem;
}
.step__body {
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  padding: 53px;
  width: inherit;
  height: inherit;
  border-radius: 8px;
}
.step__body {
  margin-top: 0;
  margin-bottom: 12px;
}
.step__number {
  width: 61px;
  margin-bottom: 58px;
}
.step__graphical-image {
  z-index: 2;
  right: -50px;
  top: -20px;
  width: 138px;
}
.step__dot {
  width: 22px;
  height: 22px;
  background-color: blue;
  border-radius: 50%;
  z-index: 2;
  top: 50%;
}

.step__numeric-image {
  max-height: 220px;
  max-width: 160px;
}

/* SCREEN SIZE STYLES */

@media only screen and (max-width: 1500px) {
  .step:nth-child(odd) .step__numeric-image {
    top: 35rem;
    left: -6rem;
    width: 10vw;
    z-index: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .step__body {
    align-items: flex-start;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 3rem;
    margin-bottom: 4rem;
    margin-right: 3rem;
    width: 33.4rem;
    z-index: 2;
  }

  .step:nth-child(odd) .step__dot {
    right: 30px;
  }

  .step__graphical-image {
    right: 55px;
    top: -39px;
    width: 112px;
    z-index: 3;
  }

  .step:nth-child(odd) .step__numeric-image {
    top: 30rem;
  }

  .step:nth-child(even) .step__numeric-image {
    top: 29rem;
    left: 26rem;
  }

  .step {
    height: 384px;
  }
}

@media only screen and (max-width: 1200px) {
  .step__body {
    width: 30.4rem;
  }

  .step:nth-child(odd) .step__dot {
    right: 61px;
  }

  .step.step--1 {
    transform: translate(89px, 30px);
  }

  .step.step--2 {
    transform: translate(-80px, 7rem);
  }

  .step.step--4 {
    transform: translate(-30px);
  }

  .step.step--5 {
    transform: translate(9px, -11rem);
  }
  .step.step--6 {
    transform: translate(-15px, -26rem);
  }
  .step.step--7 {
    transform: translate(9rem, -41rem);
  }
  .step.step--8 {
    transform: translate(-5rem, -57rem);
  }
}

@media only screen and (max-width: 965px) {
  .step {
    width: 344px;
  }
  .step__body {
    width: 25.4rem;
    font-size: 1.5rem;
  }

  .step:nth-child(odd) .step__dot {
    right: 79px;
  }
  .step__number {
    margin-bottom: 12px;
  }

  .step.step--1 {
    transform: translate(13px, 30px);
  }
  .step.step--2 {
    transform: translate(0px, 7rem);
  }
  .step.step--4 {
    transform: translate(-5px, -9rem);
  }
  .step.step--5 {
    transform: translate(-1px, -23rem);
  }
  .step.step--6 {
    transform: translate(0px, -40rem);
  }
  .step.step--7 {
    transform: translate(1rem, -50rem);
  }
  .step.step--8 {
    transform: translate(-5px, -63rem);
  }

  .step:nth-child(even) .step__numeric-image {
    top: 33rem;
    left: 22rem;
  }
  .step__graphical-image {
    right: 78px;
    top: -44px;
    width: 88px;
  }
}

@media only screen and (max-width: 750px) {
  .step__dot {
    display: none;
  }

  .step.step--1 {
    transform: none;
  }
  .step.step--2 {
    transform: none;
  }
  .step.step--3 {
    transform: none;
  }
  .step.step--4 {
    transform: none;
  }
  .step.step--5 {
    transform: none;
  }
  .step.step--6 {
    transform: none;
  }
  .step.step--7 {
    transform: none;
  }
  .step.step--8 {
    transform: none;
    margin-bottom: 8rem !important;
  }

  .step__graphical-image {
    right: 59px;
    top: -13px;
  }

  .step:nth-child(even) .step__numeric-image {
    top: 31rem;
    left: 24rem;
  }

  .step:nth-child(odd) {
    align-self: center;
    margin-bottom: 4rem;
  }

  .step:nth-child(even) {
    align-self: center;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .step {
    width: 259px;
  }
  .step__body {
    margin-right: 0;
  }
  .step__numeric-image {
    display: none;
  }
  .step__graphical-image {
    right: -10px;
    top: -13px;
    width: 6rem;
  }
}
