/* main classes */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "filson-pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 7.8rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.h2-big {
  font-size: 3rem;
}

h3 {
  font-size: 2.7rem;
  font-weight: bold;
  font-style: normal;
  line-height: 3.8rem;
}

h4 {
  font-size: 4.4rem;
}

h5 {
  font-size: 2rem;
  margin: 0;
}

/* Other classes */
.all-0 {
  padding: 0 !important;
  margin: 0 !important;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: start;
}

.align-first {
  align-self: flex-start;
}

.app-icon-number {
  width: 6rem;
}

.app-icon-set {
  align-self: flex-end;
  width: 13rem;
  margin: 0 auto;
}

.app-icon-plane {
  align-self: flex-start;
  width: 17rem;
  margin: 0 auto;
}

.img-star {
  width: 25%;
}

.size-100 {
  height: 100%;
  width: 100%;
}

.background-img {
  width: 80%;
  height: 50%;
}

.background-white {
  background-color: #ffffff;
}

.btn-blue {
  font-family: "filson-pro", sans-serif;
  background-color: #465dff;
  border: none;
  border-radius: 5px;
  height: 4rem;
  width: 10rem;
}

.btn-blue:hover {
  transform: translateY(-3px) translateX(2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn-blue:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-blue:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgb(255, 255, 255, 0.29);
}

.btn-blue:focus {
  outline: none;
}

.direction-column {
  flex-direction: column;
}

.font-blue {
  color: #465dff;
}

.font-grey {
  color: #9294ad;
}

.font-white {
  color: #ffffff;
}

.weight-400 {
  font-weight: 400;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-7 {
  flex: 7;
}

.hero-img {
  background-image: linear-gradient(
      180deg,
      #b9c6d9 82%,
      #e2f1fa62 89%,
      #b9c6d9 93%
    ),
    linear-gradient(to left, #e2f1fc4d 92%, #b9c6da 95%),
    linear-gradient(to right, #e2f1fa62 83%, #b9c6d9 87%);
}

.display-none {
  display: none;
}

/* 5 reasons box */

.home-box1 {
  width: 50%;
  text-align: center;
  margin: auto;
}

.home-list {
  display: flex;
  background-color: #f4f7fa;
  padding-top: 8rem;
  margin-top: 8rem;
  margin-right: 19rem;
}

.home-list-position {
  padding-left: 5%;
  padding-right: 5%;
}

.home-list-title {
  width: 73%;
}

.home-list-boxes {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 3rem;
  margin-bottom: 4rem;
  margin-right: 3rem;
  width: 25.4rem;
  z-index: 2;
}

.home-list-boxes:hover {
  transform: scale(1.1);
  transition: 0.2s all;
}

.img-05 {
  position: absolute;
  bottom: 2rem;
  right: -6rem;
  width: 45rem;
}

.img-box {
  width: 20%;
}

.img-triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 12vw;
}

/* Cactus text box */

.cactus-box {
  width: 70%;
}

.cactus-text-box {
  width: 65%;
  margin-top: 18rem;
}

.cactus-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 80%;
}

.cactus-text-small {
  display: none;
}

.column {
  flex: 0 0 50%;
  margin-right: 4rem;
}

.img-cactus {
  height: 50rem;
}

.show-small {
  display: none;
}

/* cactus-table */

.cactus-blue {
  width: 50%;
}

.cactus-green {
  width: 58%;
}

.cactus-title {
  color: #465dff;
  font-weight: bold;
  font-size: 2rem;
  justify-self: flex-end;
}

.show-cactuses {
  display: none;
}

.table-flex {
  border-bottom: 1px solid #d5dee7;
}

.table-flex-rows {
  align-items: center;
  padding: 3rem 0;
  font-size: 1.6rem;
  border-top: 1px solid #d5dee7;
}

.table-head {
  color: #111111;
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 2rem;
}

.web-title {
  color: #767cce;
  display: none;
}

/* Helper */

.helper {
  margin-top: 15rem;
}

.helper-img {
  height: 14rem;
}

/* FOOTER */

.footer {
  background-color: #465dff;
  width: 95%;
  margin: auto;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}

.title-footer {
  color: white;
  margin: auto;
  margin-bottom: 10rem;
}

.footer-add {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  padding-left: 6rem;
}

.position-plus {
  position: absolute;
  left: -3.2rem;
  top: -2.2rem;
  transition: all 0.2s;
}

.stroke-text {
  position: relative;
  color: #465dff;
  cursor: pointer;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  text-decoration: none;
}

.stroke-text:hover {
  color: white;
  transition: 0.2s all;
  text-shadow: none;
}

.stroke-text:hover ~ .position-plus {
  transform: rotate(45deg);
}

/* Process Page */

.m-sett-text {
  margin-right: 7rem;
}

/* process title */

.blue-line {
  background-color: #465dff;
  height: 1px;
  width: 15rem;
}

.padding-title {
  padding-bottom: 20rem;
}

.rotated-text {
  transform: rotate(-90deg);
  position: absolute;
  left: -9%;
  bottom: 40%;
}

.process__settings-box {
  margin-top: 8rem;
}

.img-big-settings {
  width: 15vw;
  margin-top: 3rem;
  margin-right: 10rem;
}

/*  */
.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: start;
}

.link-home {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.link {
  text-decoration: none;
  color: #8d9aa9;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.link-active {
  text-decoration: none;
  color: black;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.link:hover,
.link-home:hover {
  color: #8d9aa9;
  transform: translateY(-3px) translateX(2px);
  transition: all 0.3s;
}

.link:active,
.link-home:active {
  transform: translateY(0px);
  transition: all 0.2s;
}

.m-auto {
  margin: auto;
}

.m-b-2 {
  margin-bottom: 1rem;
}

.m-b-4 {
  margin-bottom: 2rem;
}

.m-b-8 {
  margin-bottom: 4rem;
}

.m-b-16 {
  margin-bottom: 8rem;
}

.m-l-8 {
  margin-left: 4rem;
}

.m-l-12 {
  margin-left: 6rem;
}

.m-r-2 {
  margin-right: 1rem;
}

.m-r-6 {
  margin-right: 3rem;
}

.m-r-8 {
  margin-right: 4rem;
}

.m-r-14 {
  margin-right: 7rem;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-t-12 {
  margin-top: 6rem;
}

.m-t-20 {
  margin-top: 10rem;
}

.m-t-negative {
  margin-top: -30rem;
}

.p-t-2 {
  padding-top: 1rem;
}

.p-t-8 {
  padding-top: 4rem;
}

.p-t-16 {
  padding-top: 8rem;
}

.p-b-8 {
  padding-bottom: 4rem;
}

.p-b-16 {
  padding-bottom: 8rem;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.width-50 {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.metods-hidden {
  display: none;
}

/* SCREEN SIZE STYLES */
@media only screen and (max-width: 1600px) {
  .advantage-styles {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 1500px) {
  .font-info {
    width: 55%;
  }
}

@media only screen and (max-width: 1400px) {
  .advantage-styles {
    padding-right: 0rem;
    padding-left: 5rem;
  }

  .home-box1 {
    width: 60%;
  }

  .img-cactus {
    height: 47rem;
  }

  .font-info {
    width: 60%;
  }
}
@media only screen and (max-width: 1300px) {
  .h2-big-lines {
    line-height: 3rem;
  }
  .home-list {
    display: flex;
    background-color: #f4f7fa;
    padding-top: 8rem;
    margin-top: 8rem;
    margin-right: 9rem;
  }
}
@media only screen and (max-width: 1200px) {
  .metods-hide {
    display: none;
  }

  .metods-hidden {
    display: block;
  }

  .home-list {
    max-height: 311rem;
  }

  .home-list-position {
    padding-left: 3%;
    padding-right: 0;
  }

  .cactus-text-box {
    margin-top: 6rem;
  }

  .cactus-text {
    width: 90%;
  }

  .font-info {
    width: 70%;
  }

  .flex-0-media {
    flex: 0;
    margin: 0 1rem;
  }

  .title-footer {
    width: 60%;
  }

  .table-flex-rows {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 3.3rem;
  }

  .process_metods {
    margin-left: -5%;
  }

  .app-icon-plane {
    width: 12rem;
  }

  .app-icon-set {
    margin-left: 2rem;
    width: 11rem;
  }

  .cactus-box {
    margin-top: 4rem;
  }
  .cactus-sm-screen {
    flex-direction: column;
  }

  .cactus-text-box {
    order: 2;
    margin-top: 0;
    width: 90%;
  }

  .cactus-text {
    width: 100%;
  }

  .img-cactus {
    width: 50%;
    height: auto;
  }
  .home-box1 {
    width: 70%;
  }

  .advantage-styles {
    justify-content: center;
  }

  .home-list-title {
    text-align: center;
    width: 89%;
  }

  .home-list-position {
    margin-left: 6rem;
  }

  .home-list-boxes {
    width: 22.9rem;
  }

  .home-list {
    margin-right: 0;
  }

  .img-05 {
    right: 0rem;
    width: 38rem;
  }

  .hide-small {
    display: none;
  }

  .show-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  .table-header {
    width: 110%;
    margin-left: -5%;
  }

  .table-head {
    font-size: 2.2rem;
  }

  .table-flex {
    width: 120%;
    margin-left: -10%;
  }

  .table-flex-rows {
    font-size: 1.4rem;
    padding: 2rem 0;
  }

  .icon-box {
    width: 120%;
    margin-left: -10%;
  }
}
@media only screen and (max-width: 965px) {
  .home-list {
    max-height: 301rem;
  }

  .h5-small {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 950px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 6.2rem;
    line-height: 7.8rem;
  }

  h5 {
    font-size: 2.1rem;
  }

  .h5-small {
    font-size: 1.9rem;
  }

  .font-media {
    font-size: 1.4rem;
  }

  .metods-width {
    width: 130%;
  }

  .title-footer {
    width: 66%;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 5.2rem;
    margin-top: 0;
    padding-top: 5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 3rem;
  }

  h5 {
    margin-top: 2rem;
  }

  .home-list {
    max-height: 375rem;
  }

  .app-icon-plane {
    display: none;
  }

  .app-icon-set {
    display: none;
  }

  .app-icon {
    margin: 0;
  }

  .cactus-text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-left: -7%;
    width: 110%;
  }

  .cactus-sm-screen {
    margin-left: -7%;
    width: 110%;
  }

  .column {
    margin-bottom: 1rem;
  }

  .helper-img {
    height: 12rem;
  }
  .helper {
    margin-top: 9rem;
  }

  .font-info {
    font-size: 1.6rem;
    width: 75%;
  }

  .hero-img {
    background-image: linear-gradient(
        180deg,
        #b9c6d9 86%,
        #e2f1fa62 92%,
        #b9c6d9 95%
      ),
      linear-gradient(to left, #e2f1fc4d 92%, #b9c6da 95%),
      linear-gradient(to right, #e2f1fa62 87%, #b9c6d9 89%);
  }

  .opacity-0-media {
    opacity: 0;
    display: none;
  }

  .p-t-16 {
    padding-top: 4rem;
  }

  .p-b-16 {
    padding-bottom: 4rem;
  }

  .cactus-title {
    font-size: 1.5rem;
  }

  .line-me {
    margin-left: -7%;
    width: 110%;
  }

  .metods-width {
    width: 150%;
  }

  .table-header {
    margin-left: -7%;
    width: 120%;
  }

  .table-head {
    flex: 3;
    margin-right: 2rem;
  }

  .table-head-process {
    font-size: 1.6rem;
  }

  .table-flex-rows {
    font-size: 1.3rem;
  }

  .title-footer {
    font-size: 2.62rem;
    width: 70%;
  }

  .stroke-text {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 4.2rem;
  }

  h4 {
    font-size: 3.6rem;
  }

  .h2-big {
    font-size: 2rem;
  }

  .h4-metods {
    margin-bottom: 0;
    font-size: 3rem;
    margin-left: -13%;
  }

  .advantage-styles {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .cactus-text-small {
    display: block;
    flex-direction: column;
  }

  .hide-cactus-text {
    display: none;
  }

  .hide-sett-img {
    display: none;
  }

  .metods-width {
    width: 100%;
  }

  .process__settings-box {
    margin-top: 0;
  }

  .m-sett-text {
    margin-right: 0;
  }

  .font-footer {
    font-size: 1.4rem;
    width: 80%;
  }

  .title-footer {
    font-size: 2.5rem;
    line-height: normal;
    width: 80%;
  }

  .helper {
    width: 110%;
    margin-left: -5%;
  }

  .helper-img {
    margin-bottom: 1rem;
  }

  .single-icon-box {
    margin: auto;
    margin-bottom: 4rem;
    width: 70%;
  }

  .img-05 {
    width: 25rem;
  }

  .icon-box {
    flex-direction: column;
  }

  .font-title {
    font-size: 1.4rem;
  }

  .footer {
    margin-top: 3rem;
  }

  .hide-cactuses {
    display: none;
  }

  .show-cactuses {
    display: block;
  }

  .table-flex-rows {
    align-items: self-start;
    flex-direction: column;
  }

  .web-title {
    display: block;
  }

  .table-head {
    align-self: center;
  }

  .stroke-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  h5 {
    font-size: 1.7rem;
    line-height: normal;
  }

  .app-icon {
    width: 11rem;
  }

  .font-info {
    font-size: 1.4rem;
  }

  .font-footer {
    font-size: 1.2rem;
  }

  .font-title {
    font-size: 1.2rem;
  }

  .hero-img {
    background-image: linear-gradient(
        180deg,
        #b9c6d9 88%,
        #e2f1fa62 93%,
        #b9c6d9 98%
      ),
      linear-gradient(to left, #e2f1fc4d 92%, #b9c6da 95%),
      linear-gradient(to right, #e2f1fa62 82%, #b9c6d9 92%);
  }

  .cactus-text {
    font-size: 1.3rem;
  }

  .column {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }

  .p-t-16 {
    padding-top: 2rem;
  }

  .p-b-16 {
    padding-bottom: 2rem;
  }

  .title-footer {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 380px) {
  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 2.6rem;
  }

  h5 {
    font-size: 1.55rem;
  }

  .p-t-8 {
    padding-top: 1rem;
  }

  .font-title {
    font-size: 1.1rem;
  }

  .app-icon-number {
    margin-bottom: 1rem;
    width: 5rem;
  }
  .home-list-title {
    margin-bottom: 4rem;
  }
  .home-list-position {
    margin-left: 2rem;
  }
  .home-list-boxes {
    font-size: 1.4rem;
    margin-right: 0;
    width: 17.9rem;
  }

  .img-05 {
    width: 11rem;
  }
}

@media only screen and (max-width: 350px) {
  h5 {
    font-size: 1.4rem;
  }

  .font-footer {
    font-size: 1.1rem;
  }
  .font-title {
    margin: 0 4rem;
  }

  .title-footer {
    font-size: 1.7rem;
  }
}
